{{ define "main" }}
<div class="container">
  <div class="row">
<!--Eliminamos franjas izquierda y derecha en lg (large, pantalla grande ordenador) asociadas a formato blog -->
    <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content }}
      </article>
<!--Eliminamos botones asociados a paginación blog -->
<!-- elimino disqus --> 
    </div>
  </div>
</div>
{{ end }}
