{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <h1>{{ i18n "pageNotFound" }}</h1>
      <p>Si piensas que la página a la que querías ir debería existir, puedes enviarme un correo (está en el pie de todas las páginas) indicando detalles: desde dónde venías, a qué página ibas (indica url completa)... e intentaré revisarlo </p>
      <!-- No se pone texto; se puso citando redirecciones durante la migración -->
      <a href="https://tenor.com/view/nothingtosee-disperse-casual-explosion-gif-4545906"><img src="{{ .Site.BaseURL }}/img/404-nothingtoseehere.jpg" /></a>
    </div>
  </div>
{{ end }}

